*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
   align-items: center;
}

.container{
    background-color: rgba(0, 128, 0, 0.804);
    font-size: 40px;
    padding: 15px;
    color: white;
    width: 70%;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
}

p{
   
    animation-name: moving;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;

}

@keyframes moving {
    from{
         margin-left: 100%; 
    }
    to{
        margin-left: -100%;
    }
}
    
    

