*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(181, 178, 117);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    height: 800px;
    width: 800px;
    display: grid;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: repeat(8,1fr);
    /* background-color: antiquewhite; */
    gap: 1px;
}

.white{
    background-color: white;
}

.black{
    background-color: black;
}

