/* *{
    margin: 0px;
    padding: 0px;
    
} */

h1{
   
    position: relative;
    background-color: antiquewhite;
}
h2{
    background-color: orange;
    position: relative;
    left: 100px;
    /* bottom: 50px;*/
} 

h3{
    background-color: pink;
    position: fixed;
    top: 0px;
    width: 100%;
    padding-left: 45vw;
}  


h4{
    background-color: crimson;
    position: sticky;
    top: 5px;
}

p{
    background-color: chartreuse;
    position: absolute;
    left: 50px;
    top: 0px;

}
   